
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML lang="en">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Pragma" NAME="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" NAME="Cache-Control" CONTENT="no-cache">


<LINK REL="stylesheet" HREF="https://ui2web1.apps.uillinois.edu/UI_css/UI_web_defaultapp.css" TYPE="text/css">
<LINK REL="stylesheet" HREF="https://ui2web1.apps.uillinois.edu//css/web_defaultprint.css" TYPE="text/css" media="print">

<TITLE>Registration Agreement; Registration; Registration and Records Tab</TITLE>
<META HTTP-EQUIV="Content-Script-Type" NAME="Default_Script_Language" CONTENT="text/javascript">
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!-- Hide JavaScript from older browsers 
var submitcount=0;
function checkSubmit() {
if (submitcount == 0)
   {
   submitcount++;
   return true;
   }
else
   {
alert("Your changes have already been submitted.");
   return false;
   }
}
//  End script hiding -->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!-- Hide JavaScript from older browsers 
//  Function to open a window
function windowOpen(window_url) {
   helpWin = window.open(window_url,'','toolbar=yes,status=no,scrollbars=yes,menubar=yes,resizable=yes,directories=no,location=no,width=350,height=400');
   if (document.images) { 
       if (helpWin) helpWin.focus()
   }
}
//  End script hiding -->
</SCRIPT>
</HEAD>
<BODY>
<DIV class="headerwrapperdiv">
<DIV class="pageheaderdiv1">
<A HREF="#main_content" onMouseover="window.status='Go to Main Content'; return true" onMouseout="window.status=''; return true" OnFocus="window.status='Go to Main Content'; return true" onBlur="window.status=''; return true" class="skiplinks">Go to Main Content</A>
<H1>University of Illinois</H1></DIV><DIV class="headerlinksdiv">
<SPAN class="pageheaderlinks2">
<MAP NAME="Module_Navigation_Links_H" title="Module Navigation Links">
<p>
<A HREF="#skip_Module_Navigation_Links_H" onMouseover="window.status='Skip Module Navigation Links'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Skip Module Navigation Links'; return true" onBlur="window.status=''; return true"  class="skiplinks">Skip Module Navigation Links</A>
<TABLE  CLASS="plaintable" SUMMARY="This is main table for displaying Tab Items."
                          WIDTH="100%" cellSpacing=0 cellPadding=0 border=0>
<TR>
<TD CLASS="pldefault">
<TABLE  CLASS="plaintable" SUMMARY="This table displays Tab Items."
                 cellSpacing=0 cellPadding=0 border=0>
<TR>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_GenMnu" onMouseover="window.status='New Personal Information'; return true" onMouseout="window.status=''; return true" onFocus="window.status='New Personal Information'; return true" onBlur="window.status=''; return true" >Personal Information</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_FinAidMainMnu" onMouseover="window.status='Financial Aid '; return true" onMouseout="window.status=''; return true" onFocus="window.status='Financial Aid '; return true" onBlur="window.status=''; return true" >Financial Aid </A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="tabon"  height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_StuMainMnu" onMouseover="window.status='Registration & Records'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Registration & Records'; return true" onBlur="window.status=''; return true" >Registration & Records</A>
</TD>
<TD class="bgtabon"  height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_StuAcct_BillInfo" onMouseover="window.status='Account Billing Information'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Account Billing Information'; return true" onBlur="window.status=''; return true" >Account Billing Information</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_GradMainMnu" onMouseover="window.status='Graduation'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Graduation'; return true" onBlur="window.status=''; return true" >Graduation</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
<TD class="bgtabon" width="100%" colSpan=2><IMG SRC="/wtlgifs/web_transparent.gif" CLASS="headerImg" TITLE=""  NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD></TR></TABLE>
</MAP>
</SPAN>
<a name="skip_Module_Navigation_Links_H"></a>
</DIV>
<TABLE  CLASS="plaintable" SUMMARY="This table displays Menu Items and Banner Search textbox."
         WIDTH="100%">
<TR>
<TD CLASS="pldefault">
<DIV class="headerlinksdiv2">
<FORM ACTION="/BANPROD1/twbksrch.P_ShowResults" METHOD="POST">
Search
<SPAN class="fieldlabeltextinvisible"><LABEL for=keyword_in_id><SPAN class="fieldlabeltext">Search</SPAN></LABEL></SPAN>
<INPUT TYPE="text" NAME="KEYWRD_IN" SIZE="20" MAXLENGTH="65" ID="keyword_in_id">
<INPUT TYPE="submit" VALUE="Go">
</FORM>
</div>
</TD>
<TD CLASS="pldefault"><p class="rightaligntext"></p>
<SPAN class="pageheaderlinks">
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_RegMnu"  class="submenulinktext2" id="ssbbackurl">RETURN TO MENU</A>
|
<A HREF="/BANPROD1/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_MainMnu&amp;depth_in=2&amp;columns_in=3" accesskey="2" class="submenulinktext2">SITE MAP</A>
|
<A HREF="/UI_help/P_RegAgreement.htm" accesskey="H" onClick="popup = window.open('/UI_help/P_RegAgreement.htm', 'PopupPage','height=500,width=450,scrollbars=yes,resizable=yes'); return false" target="_blank" onMouseOver="window.status='';  return true" onMouseOut="window.status=''; return true"onFocus="window.status='';  return true" onBlur="window.status=''; return true"  class="submenulinktext2">HELP</A>
|
<A HREF="twbkwbis.P_Logout" accesskey="3" class="submenulinktext2">EXIT</A>
</span>
</TD>
</TR>
</TABLE>
</DIV>
<DIV class="pagetitlediv">
<TABLE  CLASS="plaintable" SUMMARY="This table displays title and static header displays."
   WIDTH="100%">
<TR>
<TD CLASS="pldefault">
<H2>Registration Agreement</H2>
</TD>
<TD CLASS="pldefault">
&nbsp;
</TD>
<TD CLASS="pldefault"><p class="rightaligntext"></p>
<DIV class="staticheaders">
</div>
</TD>
</TR>
<TR>
<TD class="bg3" width="100%" colSpan=3><IMG SRC="/wtlgifs/web_transparent.gif" CLASS="headerImg" TITLE=""  NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD>
</TR>
</TABLE>
<a name="main_content"></a>
</DIV>
<DIV class="pagebodydiv">
<!--  ** END OF twbkwbis.P_OpenDoc **  -->
<DIV class="infotextdiv"><TABLE  CLASS="infotexttable" SUMMARY="This layout table contains information that may be helpful in understanding the content and functionality of this page.  It could be a brief set of instructions, a description of error messages, or other special information."><TR><TD CLASS="indefault"><SPAN class="infotext"> By registering for classes at the University of Illinois I promise to pay all assessed tuition and fees as a result of this registration, <b><u>unless I cancel prior to the first day of the term.</b></u> If I do not cancel my classes before the beginning of the term I understand that <u>I will be held responsible for paying all or some portion of tuition and fees based on my date of withdrawal.</u>    I also promise to pay any additional charges I incur including but not limited to charges for room, board, parking, class materials and any other departmental or college charges.<p>

I understand that the University is advancing value to me in the form of educational services and that my right to register is expressly conditioned upon my agreement to pay the costs of tuition and fees and any additional costs when those charges become due. I understand that, regardless of my eligibility for financial aid, I am personally responsible for the full amount assessed to me as a result of my registration and attendance. I have read, understand and accept University of Illinois policy regarding application of financial aid to prior year charges, electronic delivery of IRS Form 1098-T, assessment of late payment charges, placement of financial holds, collection activity on past due balances, and collection activity involving the use of cell phone numbers and email addresses you provide, as stated at <a href= "http://paymybill.uillinois.edu/registrationagreement" target="_new">http://paymybill.uillinois.edu/registrationagreement</a>.</p>

<p>I also understand that my access to the student registration system will be terminated if I am found to be making excessive unsuccessful registration attempts.</p> To read about your <b>FERPA (Family Educational Rights and Privacy Act)</b>

rights and responsibilities, click here:<br>

<a href="http://www.registrar.illinois.edu/transcripts/ferpa.html" target="_new">http://www.registrar.illinois.edu/transcripts/ferpa.html</a><br>

Students: This message serves as your annual FERPA notification as required by law. By clicking "I Agree to the Above Statement" you are verifying that you have read and understood all of the information above (including all policies contained in the links shown).</SPAN></TD></TR></TABLE><P></DIV>
<TABLE  CLASS="menuplaintable" summary="This layout table holds the menu items">
<TR>
<TD CLASS="mpdefault">&nbsp;</TD>
<TD CLASS="mpdefault">
<A HREF="/select_term"  class="submenulinktext2 "onMouseover="window.status='I Agree to the Above Statement'; return true" onMouseout="window.status=''; return true" onFocus="window.status='I Agree to the Above Statement'; return true" onBlur="window.status=''; return true" >I Agree to the Above Statement</A>
</TD>
</TR>
<TR>
<TD CLASS="mpdefault">&nbsp;</TD>
<TD CLASS="mpdefault">
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_RegAgreementReq"  class="submenulinktext2 "onMouseover="window.status='I Do Not Agree to the Above Statement'; return true" onMouseout="window.status=''; return true" onFocus="window.status='I Do Not Agree to the Above Statement'; return true" onBlur="window.status=''; return true" >I Do Not Agree to the Above Statement</A>
</TD>
</TR>
</TABLE>


<!--  ** START OF twbkwbis.P_CloseDoc **  -->
<TABLE  CLASS="plaintable" SUMMARY="This is table displays line separator at end of the page."
                                             WIDTH="100%" cellSpacing=0 cellPadding=0 border=0><TR><TD class="bgtabon" width="100%" colSpan=2><IMG SRC="/wtlgifs/web_transparent.gif" CLASS="headerImg" TITLE=""  NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD></TR></TABLE>
<A HREF="#top" onMouseover="window.status='Skip to top of page'; return true" onMouseout="window.status=''; return true" OnFocus="window.status='Skip to top of page'; return true" onBlur="window.status=''; return true" class="skiplinks">Skip to top of page</A>
</DIV>
<DIV class="footerbeforediv">

</DIV>
<DIV class="footerafterdiv">

</DIV>
<DIV class="globalafterdiv">

</DIV>
<DIV class="globalfooterdiv">

</DIV>
<DIV class="pagefooterdiv">
<SPAN class="releasetext">Release: 8.5.4</SPAN>
</DIV>
<DIV class="poweredbydiv">
</DIV>
<DIV class="div1"></DIV>
<DIV class="div2"></DIV>
<DIV class="div3"></DIV>
<DIV class="div4"></DIV>
<DIV class="div5"></DIV>
<DIV class="div6"></DIV>
</BODY>
</HTML>
