






<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" href="../css/eas.css" rel="stylesheet"/>
    <link type="text/css" href="../css/easpsswrdstyle3.css" rel="stylesheet"/>
    <title>Enterprise Authentication Service: Logout</title>
  </head>
  <body bgcolor="white" class="body">
    <center>
      <div class="easLogoutBanner"></div>


      <!-- ========================================= Display errors ========================= -->

      <!-- ========================================= Display errors ========================= -->

      <!-- ========================================= Display logout form ========================= -->

      <!-- ========================================= Display logout form ========================= -->

      <!-- ========================== Display sessions still active message========================= -->

      <!-- ========================== Display sessions still active message========================= -->

      <!-- ========================================= if logged out ========================= -->

        <div id="logoutMessageContainer">
          <p>
            <font size="5">
              Good-Bye, STUDENT<INPUT type='hidden' name='DISPLAY_FIRST_NAME' value='Kurtis'></INPUT>
.
              <br></br>
              Your enterprise session has ended.
            </font>
          </p>

          <div id="logoutMessageInnerContainer">
           <div id="logoutMessageLeft">
             Session Owner:
           </div>
           <div id="logoutMessageRight">
             STUDENT A NAME<INPUT type='hidden' name='DISPLAY_FULL_NAME' value='STUDENT A. NAME'></INPUT>

           </div>
          </div>

          <div id="logoutMessageInnerContainer">
           <div id="logoutMessageLeft">
             Start Time:
           </div>
           <div id="logoutMessageRight">
             Thu Apr 17 19:39:53 CDT 2014<INPUT type='hidden' name='DISPLAY_START_TIME' value='Thu Apr 17 19:39:53 CDT 2014'></INPUT>

           </div>
          </div>

          <div id="logoutMessageInnerContainer">
           <div id="logoutMessageLeft">
             Last Activity Time:
           </div>
           <div id="logoutMessageRight">
             Thu Apr 17 19:39:54 CDT 2014<INPUT type='hidden' name='DISPLAY_LAST_ACTIVITY_TIME' value='Thu Apr 17 19:39:54 CDT 2014'></INPUT>

           </div>
          </div>

          <div id="logoutMessageInnerContainer">
           <div id="logoutMessageLeft">
             End Time:
           </div>
           <div id="logoutMessageRight">
             Thu Apr 17 19:47:08 CDT 2014<INPUT type='hidden' name='DISPLAY_END_TIME' value='Thu Apr 17 19:47:08 CDT 2014'></INPUT>

           </div>
          </div>

          <div class="rule">
          <hr />
          </div>
          <div class="footer">
            For access problems, questions, or comments, contact the AITS Service Desk at (217) 333-3102 (Urbana & UIS) or (312) 996-4806 (UIC). <br /> <br /> You can also e-mail the AITS Service Desk at <a href="mailto:servicedeskaits@uillinois.edu">servicedeskaits@uillinois.edu</a> <br /> <br /> Enterprise Authentication Service, Version 4.1.7

          </div>

          <div class="rule">
          <hr />
        </div>
        </div>



      <!-- ========================================= if logged out ========================= -->


    </center>

  </body>
</html>
