
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML lang="en">
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META HTTP-EQUIV="Pragma" NAME="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" NAME="Cache-Control" CONTENT="no-cache">
<LINK REL="stylesheet" HREF="https://ui2web1.apps.uillinois.edu/UI_css/UI_web_defaultapp.css" TYPE="text/css">
<LINK REL="stylesheet" HREF="https://ui2web1.apps.uillinois.edu//css/web_defaultprint.css" TYPE="text/css" media="print">

<TITLE>Detailed Class Information</TITLE>
<META HTTP-EQUIV="Content-Script-Type" NAME="Default_Script_Language" CONTENT="text/javascript">
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!-- Hide JavaScript from older browsers
var submitcount=0;
function checkSubmit() {
if (submitcount == 0)
   {
   submitcount++;
   return true;
   }
else
   {
alert("Your changes have already been submitted.");
   return false;
   }
}
//  End script hiding -->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript" TYPE="text/javascript">
<!-- Hide JavaScript from older browsers
//  Function to open a window
function windowOpen(window_url) {
   helpWin = window.open(window_url,'','toolbar=yes,status=no,scrollbars=yes,menubar=yes,resizable=yes,directories=no,location=no,width=350,height=400');
   if (document.images) {
       if (helpWin) helpWin.focus()
   }
}
//  End script hiding -->
</SCRIPT>
</HEAD>
<BODY>
<DIV class="headerwrapperdiv">
<DIV class="pageheaderdiv1">
<A HREF="#main_content" onMouseover="window.status='Go to Main Content'; return true" onMouseout="window.status=''; return true" OnFocus="window.status='Go to Main Content'; return true" onBlur="window.status=''; return true" class="skiplinks">Go to Main Content</A>
<H1>University of Illinois</H1></DIV><DIV class="headerlinksdiv">
<SPAN class="pageheaderlinks2">
<MAP NAME="Module_Navigation_Links_H" title="Module Navigation Links">
<p>
<A HREF="#skip_Module_Navigation_Links_H" onMouseover="window.status='Skip Module Navigation Links'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Skip Module Navigation Links'; return true" onBlur="window.status=''; return true"  class="skiplinks">Skip Module Navigation Links</A>
<TABLE  CLASS="plaintable" SUMMARY="This is main table for displaying Tab Items."
                          WIDTH="100%" cellSpacing=0 cellPadding=0 border=0>
<TR>
<TD CLASS="pldefault">
<TABLE  CLASS="plaintable" SUMMARY="This table displays Tab Items."
                 cellSpacing=0 cellPadding=0 border=0>
<TR>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_GenMnu" onMouseover="window.status='New Personal Information'; return true" onMouseout="window.status=''; return true" onFocus="window.status='New Personal Information'; return true" onBlur="window.status=''; return true" >Personal Information</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_FinAidMainMnu" onMouseover="window.status='Financial Aid '; return true" onMouseout="window.status=''; return true" onFocus="window.status='Financial Aid '; return true" onBlur="window.status=''; return true" >Financial Aid </A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_StuMainMnu" onMouseover="window.status='Registration & Records'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Registration & Records'; return true" onBlur="window.status=''; return true" >Registration & Records</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_StuAcct_BillInfo" onMouseover="window.status='Account Billing Information'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Account Billing Information'; return true" onBlur="window.status=''; return true" >Account Billing Information</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
<td class="taboff" height=22>
<A HREF="/BANPROD1/twbkwbis.P_GenMenu?name=bmenu.P_GradMainMnu" onMouseover="window.status='Graduation'; return true" onMouseout="window.status=''; return true" onFocus="window.status='Graduation'; return true" onBlur="window.status=''; return true" >Graduation</A>
</TD>
<TD class="bgtaboff" height=22 vAlign="top" align="right">
<IMG SRC="/wtlgifs/web_tab_corner_right.gif" CLASS="headerImg" TITLE=""  NAME="web_tab_corner_right" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=20 WIDTH=8>
</TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
<TD class="bgtabon" width="100%" colSpan=2><IMG SRC="/wtlgifs/web_transparent.gif" CLASS="headerImg" TITLE=""  NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD></TR></TABLE>
</MAP>
</SPAN>
<a name="skip_Module_Navigation_Links_H"></a>
</DIV>
<TABLE  CLASS="plaintable" SUMMARY="This table displays Menu Items and Banner Search textbox."
         WIDTH="100%">
<TR>
<TD CLASS="pldefault">
<DIV class="headerlinksdiv2">
<FORM ACTION="/BANPROD1/twbksrch.P_ShowResults" METHOD="POST">
Search
<SPAN class="fieldlabeltextinvisible"><LABEL for=keyword_in_id><SPAN class="fieldlabeltext">Search</SPAN></LABEL></SPAN>
<INPUT TYPE="text" NAME="KEYWRD_IN" SIZE="20" MAXLENGTH="65" ID="keyword_in_id">
<INPUT TYPE="submit" VALUE="Go">
</FORM>
</div>
</TD>
<TD CLASS="pldefault"><p class="rightaligntext"></p>
<SPAN class="pageheaderlinks">
<A HREF="/BANPROD1/twbksite.P_DispSiteMap?menu_name_in=bmenu.P_MainMnu&amp;depth_in=2&amp;columns_in=3" accesskey="2" class="submenulinktext2">SITE MAP</A>
|
<A HREF="/UI_help/p_disp_detail_sched.html" accesskey="H" onClick="popup = window.open('/UI_help/p_disp_detail_sched.html', 'PopupPage','height=500,width=450,scrollbars=yes,resizable=yes'); return false" target="_blank" onMouseOver="window.status='';  return true" onMouseOut="window.status=''; return true"onFocus="window.status='';  return true" onBlur="window.status=''; return true"  class="submenulinktext2">HELP</A>
|
<A HREF="twbkwbis.P_Logout" accesskey="3" class="submenulinktext2">EXIT</A>
</span>
</TD>
</TR>
</TABLE>
</DIV>
<DIV class="pagetitlediv">
<TABLE  CLASS="plaintable" SUMMARY="This table displays title and static header displays."
   WIDTH="100%">
<TR>
<TD CLASS="pldefault">
<H2>Detailed Class Information</H2>
</TD>
<TD CLASS="pldefault">
&nbsp;
</TD>
<TD CLASS="pldefault"><p class="rightaligntext"></p>
<DIV class="staticheaders">
Fall 2014 - Urbana-Champaign<br>
Apr 09, 2014<br>
</div>
</TD>
</TR>
<TR>
<TD class="bg3" width="100%" colSpan=3><IMG SRC="/wtlgifs/web_transparent.gif" CLASS="headerImg" TITLE=""  NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD>
</TR>
</TABLE>
<a name="main_content"></a>
</DIV>
<DIV class="pagebodydiv">
<!--  ** END OF twbkwbis.P_OpenDoc **  -->
<DIV class="infotextdiv"><TABLE  CLASS="infotexttable" SUMMARY="This layout table contains information that may be helpful in understanding the content and functionality of this page.  It could be a brief set of instructions, a description of error messages, or other special information."><TR><TD CLASS="indefault"><SPAN class="infotext"> If a section has seats remaining but you are unable to register because it is closed, that section has filled its cross-listed maximum capacity and is not available for registration.</SPAN></TD></TR></TABLE><P></DIV>
<TABLE  CLASS="datadisplaytable" SUMMARY="This table is used to present the detailed class information." width="100%"><CAPTION class="captiontext">Detailed Class Information</CAPTION>
<TR>
<TH CLASS="ddlabel" scope="row" >Intro Computing: Engrg & Sci - <!--CRN--> - <!--SUBJ--> <!--COURSE--> - AL1<BR><BR></TH>
</TR>
<TR>
<TD CLASS="dddefault">
<SPAN class="fieldlabeltext">Associated Term: </SPAN>Fall 2014 - Urbana-Champaign
<BR>
<SPAN class="fieldlabeltext">Levels: </SPAN>Graduate - Urbana-Champaign, Law - Urbana-Champaign, Undergrad - Urbana-Champaign, VetMed - Urbana-Champaign
<BR>
<BR>
Urbana-Champaign Campus
<BR>
Lecture Schedule Type
<BR>
       0.000 Credits
<BR>
<A HREF="/BANPROD1/bwckctlg.p_display_courses?term_in=120148&amp;one_subj=CS&amp;sel_crse_strt=101&amp;sel_crse_end=101&amp;sel_subj=&amp;sel_levl=&amp;sel_schd=&amp;sel_coll=&amp;sel_divs=&amp;sel_dept=&amp;sel_attr=">View Catalog Entry</A>
<BR>
<BR>
<BR>
<TABLE  CLASS="datadisplaytable" SUMMARY="This layout table is used to present the seating numbers." width = "100%"><CAPTION class="captiontext">Registration Availability</CAPTION>
<TR>
<TD CLASS="dddead">&nbsp;</TD>
<TH CLASS="ddheader" scope="col" ><SPAN class="fieldlabeltext">Capacity</SPAN></TH>
<TH CLASS="ddheader" scope="col" ><SPAN class="fieldlabeltext">Actual</SPAN></TH>
<TH CLASS="ddheader" scope="col" ><SPAN class="fieldlabeltext">Remaining</SPAN></TH>
<TR>
<TH CLASS="ddlabel" scope="row" ><SPAN class="fieldlabeltext">Seats</SPAN></TH>
<TD CLASS="dddefault"><!--CAPACITY--></TD>
<TD CLASS="dddefault"><!--ACTUAL--></TD>
<TD CLASS="dddefault"><!--REMAINING--></TD>
</TR>
<TR>
<TH CLASS="ddlabel" scope="row" ><SPAN class="fieldlabeltext">Waitlist Seats</SPAN></TH>
<TD CLASS="dddefault">0</TD>
<TD CLASS="dddefault">0</TD>
<TD CLASS="dddefault">0</TD>
</TR>
</TABLE>
<BR>
<SPAN class="fieldlabeltext">Restrictions:</SPAN>
<BR>
Must be enrolled in one of the following Levels:&nbsp; &nbsp; &nbsp;
<BR>
&nbsp; &nbsp; &nbsp; Undergrad - Urbana-Champaign
<BR>
<BR>
<BR>
</TD>
</TR>
</TABLE>
<BR>
<TABLE  CLASS="datadisplaytable" SUMMARY="This is for formatting of the bottom links." WIDTH="50%">
<TR>
<TD CLASS="ntdefault">
<A HREF="javascript:history.go(-1)" onMouseOver="window.status='Return to Previous';  return true" onFocus="window.status='Return to Previous';  return true" onMouseOut="window.status='';  return true"onBlur="window.status='';  return true">Return to Previous</A>
</TD>
</TR>
</TABLE>

<!--  ** START OF twbkwbis.P_CloseDoc **  -->
<TABLE  CLASS="plaintable" SUMMARY="This is table displays line separator at end of the page."
                                             WIDTH="100%" cellSpacing=0 cellPadding=0 border=0><TR><TD class="bgtabon" width="100%" colSpan=2><IMG SRC="/wtlgifs/web_transparent.gif" CLASS="headerImg" TITLE=""  NAME="web_transparent" HSPACE=0 VSPACE=0 BORDER=0 HEIGHT=3 WIDTH=10></TD></TR></TABLE>
<A HREF="#top" onMouseover="window.status='Skip to top of page'; return true" onMouseout="window.status=''; return true" OnFocus="window.status='Skip to top of page'; return true" onBlur="window.status=''; return true" class="skiplinks">Skip to top of page</A>
</DIV>
<DIV class="footerbeforediv">

</DIV>
<DIV class="footerafterdiv">

</DIV>
<DIV class="globalafterdiv">

</DIV>
<DIV class="globalfooterdiv">

</DIV>
<DIV class="pagefooterdiv">
<SPAN class="releasetext">Release: 8.5.1</SPAN>
</DIV>
<DIV class="poweredbydiv">
</DIV>
<DIV class="div1"></DIV>
<DIV class="div2"></DIV>
<DIV class="div3"></DIV>
<DIV class="div4"></DIV>
<DIV class="div5"></DIV>
<DIV class="div6"></DIV>
</BODY>
</HTML>
