






<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>




    <title>Enterprise Authentication Service: Logout</title>
  </head>
  <body bgcolor="white" class="body">
    <center>
      <div class="easLogoutBanner"></div>


      <!-- ========================================= Display errors ========================= -->

      <!-- ========================================= Display errors ========================= -->

      <!-- ========================================= Display logout form ========================= -->

      <div class="middlespace">
       <form method="post" action="logout.do">

         <div id="logoutContainer">
           <div id="logoutText">
             This will end all of your enterprise sessions.
             <br> <li>edu.uillinois.aits.SelfServiceLogin</li><br>
             Do you want to end all sessions?
           </div> <!-- logoutText -->
           <div id="logoutInput">
             <div id="logoutLeft">
               <INPUT type='submit' name='BTN_YES' value='Yes'>
</INPUT>

             </div>
             <div id="logoutRight">
               <INPUT type='submit' name='BTN_NO' value='No'>
</INPUT>

             </div>
             <input type="hidden" name="prompt" value="y"/>
             <input type="hidden" name="path" value=""/>

           </div> <!-- logoutInput -->
         </div> <!-- logoutContainer -->
       </form>
     </div>
      <!-- ========================================= Display logout form ========================= -->

      <!-- ========================== Display sessions still active message========================= -->

      <!-- ========================== Display sessions still active message========================= -->

      <!-- ========================================= if logged out ========================= -->

      <!-- ========================================= if logged out ========================= -->


    </center>

  </body>
</html>
